@tailwind base;
@tailwind components;
@tailwind utilities;

.item-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.scrollbar-custom::-webkit-scrollbar {
  display: none;
}
